:root {
    --bg-primary-color: #272b35;
    --bg-secondary-color: #272b35;
    --bg-contrast-color: #1a1e27;

    --txt-primary-color: #cec6c6;
    --txt-contrast-color: #74a0d3;

    --link-primary-color: #74a0d3;
    /*--link-primary-color: #246ec3;*/
    --link-contrast-color: yellow;

    --border: solid 1px #343740;
    --border-radius: 10px;
    --box-shadow:  5px 5px 5px var(--bg-contrast-color);
  }

body {
    background-color: transparent;
    overflow: hidden;
    zoom: 100%;

    display: none;
}

a {
    color: var(--link-primary-color);
    cursor: pointer;
}

a:hover {
    color: var(--link-primary-color);
}

h3 {
    color: var(--txt-primary-color);
}

.row {
    margin: 0;
}

.container {
    background-color: var(--bg-primary-color);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    padding: 0;
    overflow: hidden;
    position: relative;
}

.header {
    background-color: var(--bg-contrast-color);
    border-radius: var(--border-radius);

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    height: 35px;
    margin: 1px;
}

.header .col.title {
    color: var(--txt-primary-color);

    padding-top: 5px;
}

.header .quit {
    color: var(--txt-contrast-color);

    text-align: right;
    padding-top: 5px;
}

.content .col {
    margin: 0;
    padding: 0 5px;
}

.content .panels {
    position: relative;
    overflow: auto;
    height:100%;

    margin-top: 4px;
    margin-bottom: 4px;
}

.content .panels .tab-pane {
    position: absolute;
    width:100%;
    top:0;
}

.content .panels .tab-pane h3 {
    border-bottom: var(--border);
    border-bottom-color: var(--bg-contrast-color);

    margin-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.content .panels .tab-pane {
    overflow: auto;
}

.content .panels .tab-pane table {
    font-size: 12px;
}

.content .panels .tab-pane table {
    border: var(--border);
}

.content .panels .tab-pane table th {
    background-color: var(--bg-contrast-color);
    color: var(--txt-primary-color);
    border: var(--border);

    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content .panels .tab-pane table td {
    border: var(--border);
    color: var(--txt-primary-color);

    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    white-space: nowrap;
}

.menu {
    padding-top: 10px;
}

.menu .nav-tabs .nav-link {
    background-color: var(--bg-primary-color);
    color: var(--txt-primary-color);
}

.menu .nav-tabs .nav-item.show .nav-link,
.menu .nav-tabs .nav-link.active {
    border-color: var(--bg-contrast-color);

    padding-top: 10px;
    border-bottom-color: transparent;
}

.menu .nav-tabs {
    background-color: var(--bg-primary-color);
    border-bottom: var(--border);
    border-bottom-color: var(--bg-contrast-color);
}

.menu .nav-tabs .nav-item a.active {
    
}

.footer {
    background-color: var(--bg-contrast-color);
    border-radius: var(--border-radius);

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 15px;
    margin: 1px;
}